body {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  background: rgba(242, 242, 242, 0.6);
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*NAVBAR*/
.navbar {
  background-color: #31b0d5;
  position: fixed; /* Set the navbar to fixed position */
  top: 5px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
}
.navbar a {
  font-weight: 400;
  color: white;
  padding: 14px 16px;
  /* background-color: rgb(0, 0, 0); */
  text-decoration: none;
  
}

.navbar a:hover {
  color: teal;
  transition: all 0.5s ease-in-out;
  /* border-radius: 50px; */

}
.logo{
  margin: auto;
  width: 150px;
  text-align: center;
  padding: 7px;
  border-radius: 60px;
  background-color: burlywood;
  color: teal;
}
.contact-right{
  margin: auto;
  width: 150px;
  text-align: center;
  padding: 7px;
  border-radius: 60px;
  background-color: burlywood;
  color: teal;
}
.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 100vh; /*height to 100% of view height*/
  background: #31b0d5; /*background color to blue*/
  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 1.6em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  margin-top: 30px;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 1em;
  color: white;
  padding: 20px;
}

.personalpic {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-right: 100px;
  width: 350px;
  border-radius: 50%;
}
@media screen and (max-width: 425px) {
  .personalpic{
    float: none;
    margin: auto;
  }
  .container{
    width: 150%;
  }
  .ul-skills {
    width: 100%;
  }
  
}
/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #31b0d5;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 400;
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  width: max-content;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-content {
  padding: 0.25rem 2rem;
  align-self: center;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
  font-size: 20px;
  font-weight: 600;

}

.job-title {
  margin: 20px;
}

/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  width: 450px;
  font-weight: 300;
  font-size: 18px;
}

.btn1 {
  background-color: teal;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 160px;
  margin-left: 45px;
  margin-bottom: 20px;
}
/* .btn2{
  background-color: teal;
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  margin-left: 20px;

} */
.project-image img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 450px;
  height: auto;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 300;
}
/* .project-card h4{
  font-size: 30px;
  font-weight: 600;
} */
/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
  padding: 20px 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 19px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/*CONTACT*/
.blue {
  background: #3498db;
  text-align: center;
}

.contact {
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #53575a;
  color: white;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.contact textarea {
  height: 150px;
  width: 100%;
  resize: none;
  font-size: 18px;
}

.contact button {
  display: block;
  width: 100%;
  background: #53575a;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.white-text {
  color: white;
}
